//定义首页左侧导航栏的宽度
$base_aside_width:230px;

//定义首页Header的高度
$base_header_height:45px;


//定义侧边伸缩导航栏的宽度
$base_aside_nav_width:230px;
//高度
$base_aside_nav_height:100%;

//定义首页layout右上角头像的宽度和高度
$base_header_img_width:36px;
$base_header_img_height:30px;

//商品管理页面logo尺寸
$base_trademark_logo_width:100px;
$base_trademark_logo_height:100px;